.footer__footer-2qUZK {
  width: 100%;
  height: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: #383b45;
  text-align: center;
  font-size: 0.16rem;
}
.footer__footer-2qUZK a {
  color: #fff;
}
.footer__footer-2qUZK ul {
  display: flex;
}
.footer__footer-2qUZK li {
  flex: 1 1 auto;
}
.footer__footer-2qUZK li i,
.footer__footer-2qUZK li span {
  display: block;
}
.footer__footer-2qUZK li i {
  font-size: 0.2rem;
}
.footer__active-1lGtS {
  background-color: #66B32F;
}
.footer__active-1lGtS a {
  color: #383b45;
}
.home__nav-1SCNo {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.16rem;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #383b45;
  text-align: center;
  z-index: 99;
}
.home__nav-1SCNo a {
  color: #fff;
}
.home__nav-1SCNo ul {
  display: flex;
}
.home__nav-1SCNo li {
  flex: auto;
}
.home__listContainer-1u1vN {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}
.home__active-1R8Cx a {
  padding: 0.05rem 0.1rem;
  background-color: #66B32F;
  color: #383b45;
  border-radius: 0.05rem;
}
.item__item-2C9cr {
  padding: 0.1rem;
  border-bottom: solid 1px #ddd;
}
.item__item-2C9cr a {
  color: #383b45;
}
.item__title-2NR3q {
  font-size: 0.16rem;
  line-height: 2.2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item__title-2NR3q i {
  vertical-align: middle;
  margin-right: 0.05rem;
}
.item__avatar-1iOJ9 {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  margin-right: 0.1rem;
}
.item__msg-1urPA {
  display: flex;
  align-items: center;
}
.item__msg-1urPA span {
  display: block;
  line-height: 1.4;
}
.item__avatar-1iOJ9 {
  flex: 0 0 auto;
}
.item__msgLeft-2vWL6 {
  flex: 1 1 auto;
  margin-right: 0.1rem;
}
.item__msgRight-bRSY3 {
  flex: 0 0 auto;
  text-align: right;
}
.lodeMsg__more-1dUUh {
  text-align: center;
  line-height: 0.5rem;
}
.goTop__goTop-2pzMs {
  position: fixed;
  right: 0.2rem;
  bottom: 0.7rem;
}
.goTop__goTopIcon-1vHFd {
  font-size: 0.5rem;
}
.topAnima-enter {
  opacity: 0;
  transform: translateY(20px);
}
.topAnima-enter.topAnima-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in, transform 300ms ease-in;
}
.topAnima-leave {
  opacity: 1;
  transform: translateY(0);
}
.topAnima-leave.topAnima-leave-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms ease-in, transform 700ms ease-in;
}
.header__header-P1JXb {
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: #383b45;
  color: #fff;
  display: flex;
  text-align: center;
}
.header__header-P1JXb .iconfont {
  color: #383b45;
}
.header__left-1LJ0R,
.header__right-OV-TJ {
  width: 0.4rem;
  height: 0.4rem;
  flex: 0 0 auto;
}
.header__btnActive-1M7qR {
  background-color: #66B32F;
}
.header__title-2UExb {
  flex: 1 1 auto;
}
.comment__comment-ylyRJ {
  padding: 0.1rem;
  overflow: hidden;
  border-bottom: solid 1px #ddd;
}
.comment__avatar-1btat {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  margin-right: 0.1rem;
}
.comment__msg-3i9_Z {
  display: flex;
  align-items: center;
}
.comment__msg-3i9_Z span {
  display: block;
}
.comment__relyFormContainer-3aBnv {
  margin-top: 0.1rem;
}
.comment__oper-1CdK2 {
  text-align: right;
}
.comment__dianzan-ta3Al {
  margin-right: 0.2rem;
}
.comment__active-324-W {
  color: blue;
}
.comment__reply-83cNn {
  vertical-align: middle;
}
.commentForm__form-11-wT {
  overflow: hidden;
}
.commentForm__text-xu42t {
  width: 100%;
  resize: none;
  border-radius: 0.05rem;
  box-sizing: border-box;
}
.commentForm__button-LrKDd {
  display: block;
  width: 100%;
  border-radius: 0.05rem;
  margin-top: 0.2rem;
  padding: 0.1rem 0.2rem;
}
.topic__topicContainer-3dImr {
  margin-top: 0.4rem;
  padding: 0.1rem;
}
.topic__headerContainer-QKGjE {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.topic__title-d9lRP {
  line-height: 0.3rem;
}
.topic__msg-1-QRP {
  display: flex;
  align-items: center;
}
.topic__pic-2ur9B {
  flex: 0 0 auto;
  margin-right: 0.1rem;
}
.topic__avatar-16rgP {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}
.topic__msgDetail-Kuyr- {
  flex: 1 1 auto;
}
.topic__reliesNumber-1J2Q7 {
  line-height: 0.3rem;
  border-left: solid 0.05rem #333;
  background-color: #ddd;
  padding-left: 0.2rem;
}
.topic__bottom-1IIZ5 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.LoginWarn__warn-3cBJX {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.postForm__tab-35x5-,
.postForm__title-3GENR,
.postForm__content-2VfPN,
.postForm__submit-1GnS1 {
  display: block;
  width: 100%;
  border-radius: 0.05rem;
}
.postForm__title-3GENR,
.postForm__content-2VfPN,
.postForm__submit-1GnS1 {
  margin-top: 0.15rem;
}
.postForm__submit-1GnS1 {
  padding: 0.1rem;
}
form {
  padding: 0.1rem;
}
.post__content-11gVq {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}
.post__headerContainer-34kUt {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.msgDetail__menu-3i7yo {
  display: flex;
  text-align: center;
  line-height: 0.4rem;
  font-size: 0.14rem;
  background-color: #999;
}
.msgDetail__menu-3i7yo li {
  flex: 1 1 auto;
  color: #fff;
}
.msgDetail__menu-3i7yo li.msgDetail__active-3stlJ {
  background-color: #66B32F;
  color: #383b45;
}
.msgDetail__msgItem-QA0SU {
  padding: 0.1rem;
  border-bottom: solid 1px #ddd;
}
.msgDetail__time-1kRMF {
  text-align: right;
}
.msg__content-1Ro5Z {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}
.msg__headerContainer-ol4eK {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.userCommon__menu-3OqYG {
  display: flex;
  text-align: center;
  line-height: 0.4rem;
  font-size: 0.14rem;
  background-color: #999;
}
.userCommon__menu-3OqYG li {
  flex: 1 1 auto;
  color: #fff;
}
.userCommon__menu-3OqYG li.userCommon__active-35i6q {
  background-color: #66B32F;
  color: #383b45;
}
.userCommon__userMsg-2mIdD {
  background-color: #ddd;
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.userCommon__avatar-2p8bx {
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 50%;
}
.userCommon__loginname-2Pwk4 {
  margin-top: 0.1rem;
}
.userCommon__score-3fvWJ {
  margin-right: 0.2rem;
}
.userCommon__userData-1vZmC {
  margin-top: 0.1rem;
}
.userCommon__item-PEnId {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  border-bottom: solid 1px #ccc;
}
.userCommon__item-PEnId a {
  display: flex;
  color: #383b45;
}
.userCommon__title-205Yv {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.2rem;
}
.userCommon__time-3b5m1 {
  flex: 0 0 auto;
}
.my__content-1ApTZ {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}
.my__headerContainer-18EM8 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.login__login-JU3QT {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.login__headerContainer-1pjNa {
  width: 100%;
  flex: 0 0 auto;
}
.login__form-1exfe {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
.login__form-1exfe input,
.login__form-1exfe button {
  line-height: 0.35rem;
  margin-bottom: 0.25rem;
  border-radius: 0.05rem;
  width: 100%;
  padding: 0.05rem 0.1rem;
  box-sizing: border-box;
}
.user__headerContainer-Vwz5L {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.user__content-2FweH {
  margin-top: 0.4rem;
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
html {
  font-size: 625%;
  line-height: 1.4;
}
body,
ul,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-family: 'microsoft yahei', sans-serif;
}
h3 {
  font-size: 0.16rem;
}
h2 {
  font-size: 0.18rem;
}
body {
  font-size: 0.14rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #66B32F;
}
img {
  max-width: 100%;
}
pre {
  padding: 0.16rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.4;
  background-color: #f7f7f7;
  border-radius: 0.04rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.clearfix:after {
  content: ' ';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
input,
textarea {
  border-style: none;
  border: solid 1px #999;
  resize: none;
  box-sizing: border-box;
  line-height: 0.25rem;
}
button {
  border-style: none;
  background-color: #66B32F;
  color: #383b45;
}
.fade-slide-enter {
  opacity: 0;
  transform: translateY(20px);
}
.fade-slide-enter.fade-slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}
.fade-slide-leave {
  opacity: 1;
  transform: translateY(0);
}
.fade-slide-leave.fade-slide-leave-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}
.fade-slide-appear {
  opacity: 0;
}
.fade-slide-appear.fade-slide-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
.down-enter {
  transform: translateY(-5px);
}
.down-enter.down-enter-active {
  transform: translateY(0);
  transition: transform 200ms ease-out;
}
.down-leave {
  transform: translateY(0);
}
.down-leave.down-leave-active {
  transform: translateY(-5px);
  transition: transform 200ms ease-out;
}
.down-appear {
  transform: translateY(-5px);
}
.down-appear.down-appear-active {
  transform: translateY(0);
  transition: transform 200ms ease-out;
}
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
.fade-leave {
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}
.fade-appear {
  opacity: 0;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
