html{
    font-size: 625%;
    line-height: 1.4;
}

body,ul,h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    font-family: 'microsoft yahei',sans-serif
}

h3{
    font-size:0.16rem;
}

h2{
    font-size:0.18rem;
}

body{
    font-size: 0.14rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #66B32F;
}

img{
    max-width: 100%;
}

pre{
    padding: 0.16rem;
    overflow: auto;
    font-size: 85%;
    line-height: 1.4;
    background-color: #f7f7f7;
    border-radius: 0.04rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

:global(.clearfix:after){
    content:' ';
    height:0;
    display:block;
    visibility:hidden;
    clear:both
}

input,textarea{
    border-style: none;
    border: solid 1px #999;
    resize: none;
    box-sizing: border-box;
    line-height: 0.25rem;
}

button{
    border-style: none;
    background-color: #66B32F;
    color: #383b45;
}

:global(.fade-slide-enter){
     opacity: 0;
     transform: translateY(15px);
}

:global(.fade-slide-enter):global(.fade-slide-enter-active) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease-out,transform 500ms ease-out;
}

:global(.fade-slide-leave) {
    opacity: 1;
    transform: translateY(0);
}

:global(.fade-slide-leave):global(.fade-slide-leave-active) {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 500ms ease-out,transform 500ms ease-out;
}

:global(.fade-slide-appear) {
    opacity: 0;
    transform: translateY(15px);
}

:global(.fade-slide-appear):global(.fade-slide-appear-active) {
    opacity: 1;
    transition: opacity 500ms ease-out,transform 500ms ease-out;
}


:global(.down-enter){
     transform: translateY(-5px);
}

:global(.down-enter):global(.down-enter-active) {
    transform: translateY(0);
    transition: transform 200ms ease-out;
}

:global(.down-leave) {
    transform: translateY(0);
}

:global(.down-leave):global(.down-leave-active) {
    transform: translateY(-5px);
    transition: transform 200ms ease-out;
}

:global(.down-appear) {
    transform: translateY(-5px);
}

:global(.down-appear):global(.down-appear-active) {
    transform: translateY(0);
    transition: transform 200ms ease-out;
}

:global(.fade-enter){
     opacity: 0;
}

:global(.fade-enter):global(.fade-enter-active) {
    opacity: 1;
    transition: opacity 500ms ease-out;
}

:global(.fade-leave) {
    opacity: 1;
}

:global(.fade-leave):global(.fade-leave-active) {
    opacity: 0;
    transition: opacity 500ms ease-out;
}

:global(.fade-appear) {
    opacity: 0;
}

:global(.fade-appear):global(.fade-appear-active) {
    opacity: 1;
    transition: opacity 500ms ease-out;
}

