.header{
    height: 0.4rem;
    line-height: 0.4rem;
    background-color: #383b45;
    color: #fff;
    display: flex;
    text-align: center;
    :global(.iconfont){
        color: #383b45;
    }
}

.left,
.right{
    width: 0.4rem;
    height: 0.4rem;
    flex: 0 0 auto;
}

.btnActive{
    background-color: #66B32F;
}

.title{
    flex: 1 1 auto;
}